# Directories
__pycache__/
scrap_env/

# Pycharm directories
.idea/

# Working files
urls.txt
article0.html

# Effects of the script's work
car_listings.csv
mileage_prices.svg
year_prices.svg

# PyInstaller files and folders
build/
dist/
hook-pygal.py
scrap.spec
